<settings>
    <category label="32000">
        <setting id="default_delay" type="slider" label="32001" help="32002" default="30"
            range="0,5,300" option="int" />
        <setting id="skip_duration" type="slider" label="32003" help="32004" default="60"
            range="10,5,300" option="int" />
    </category>
    <category label="32010">
        <setting id="database_path" type="text" label="32011" help="32012"
            default="special://userdata/addon_data/plugin.video.skipintro/shows.db" />
        <setting id="use_chapters" type="bool" label="32013" help="32014" default="true" />
        <setting id="use_api" type="bool" label="32015" help="32016" default="false" />
        <setting id="api_key" type="text" label="32017" help="32018" enable="eq(-1,true)" default="" />
        <setting id="save_times" type="bool" label="32019" help="32020" default="true" />
    </category>
    <category label="32040">
        <setting id="use_show_defaults" type="bool" label="32041" help="32042" default="true" />
        <setting id="intro_duration" type="slider" label="32045" help="32046" default="60"
            range="10,5,300" option="int" />
    </category>
</settings>